UnityAudioToolkit/Library/
UnityAudioToolkit/Temp/
UnityAudioToolkit/Assembly-CSharp.csproj
UnityAudioToolkit/UnityAudioToolkit.sln
UnityAudioToolkit/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
UnityAudioToolkit/.vs/UnityAudioToolkit/v14/.suo
UnityAudioToolkit/Assets/TestAssets/
UnityAudioToolkit/Assets/TestAssets.meta
