UnityAudioToolkit/Library/
UnityAudioToolkit/Temp/
UnityAudioToolkit/Assembly-CSharp.csproj
UnityAudioToolkit/UnityAudioToolkit.sln
UnityAudioToolkit/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
